.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    color :#262626;
    font-weight: 500;
    text-align: center;
}
/* Gradient Text */
@keyframes colorChange {
    0% { color: #ff6600; }  /* Orange */
    25% { color: #ffcc00; }  /* Yellow */
    50% { color: #ff0066; }  /* Pink */
    75% { color: #2a9d8f; }  /* Green */
    100% { color: #aaec10; }  /* Back to Orange */
}

.explore-menu-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1.5px;
    word-spacing: 2px; 
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
    word-spacing: 2px;
    animation: colorChange 5s infinite;
}


.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
     
}
.explore-menu-list-item p{
    margin: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    border: none;
    border-top: 2px dotted #ff6600;
}
.explore-menu-list .active{
    border: 4px solid tomato;
    padding: 2px;
}
